<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Inspiration Station
      </a>
    </div>
    <div class="pull-right">
      <a href="/quotes" class="btn btn-primary navbar-btn">Boo</a>
    </div>
  </div>
</nav>