<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Inspiration Station
      </a>
    </div>

    <div class="pull-right">
      <a href="/image-new" class="btn btn-primary navbar-btn">New Image</a>
    </div>

    <div class="pull-right">
      <a href="/quote-new" class="btn btn-primary navbar-btn">New Quote</a>
    </div>

    <div class="pull-right">
      <a href="/meme-new" class="btn btn-primary navbar-btn">New Meme</a>
    </div>

  </div>
</nav>