<!-- Index.hbs -->

<!-- NATURE IMAGE WITH INSPIRATIONAL QUOTE -->
<div class="row" id="box-search">
  <div class="thumbnail text-center">
    <img src="{{image}}" class="img-fluid" alt="responsive image" >
    <div class="caption">
      <h2>{{quote}}</h2>
      <p>~ {{author}}</p>
    </div>
  </div>
</div>