@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed');

.navbar-default .navbar-brand {
	color: #5ca74c;

}

.navbar-default {
	background-color: white;
	height: 75px;
	border: 0 solid white;
	margin-bottom: 0;
}

.btn-primary {
	background-color: #5ca74c;
	border: 1px solid #5ca74c;
	margin-right: 5px;
}

.thumbnail {
	position: relative;
	background-color: none;
	border: 0 solid white;
}

.caption {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

.caption h2 {
	color: white;
	font-size: 3.75rem;
	font-weight: 400;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 2rem 2rem 2rem;
	text-shadow: 2px 2px #000
}

.caption p {
	color: white;
	font-size: 3rem;
	font-weight: 300;
	text-align: right;
	/*margin-top: 10rem;*/
	margin-right: 2rem;
	padding-right: 4rem;
	text-shadow: 1px 1px #000
}

.img-fluid {
	margin-top: 0;
	margin-bottom: 2rem;
	max-width: 80%;
	border-radius: 2rem;
}